html {
  scroll-behavior: smooth;
}

.wrap-main {

  // display: grid;
  // grid-template-columns: 230px auto 320px;

  // @media (min-width: 1024) {
  //   
  // }

}



// .wrap-main {
//   grid-template-columns: 1fr 230px;
// }


@media (max-width : 768px) {
  .oderDetails {
    display: none !important;
  }

  // .wrap-main {
  //   grid-template-columns: 1fr !important;
  // }
}

.menu-main {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 230px;
  background: #efefef;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2020;

  @media (max-width : 768px) {
    display: none;
  }
}

.menubar-list {
  li {
    padding: 20px 0 10px 10px;


    a {
      color: #484848;
    }
  }
}

.oderboard-open {
  display: none !important;

}

.pageHeadline {
  padding: 20px 0;
  text-align: center;
}

.wrraper-productGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center !important;

  h1 {
    margin-top: 40px;
    margin-bottom: -130px;
    width: 80%;
    background: #efefef;
    border: 1px solid #efefef;
    border-radius: 3px;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;

  }
}

.productType {
  padding-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @media (max-width : 768px) {
    grid-template-columns: repeat(2, 1fr)
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 2px 2px 9px 4px #f2f2f2;
  justify-content: space-between;

  .wrap-image {
    max-width: 380px;

    height: 210px;
    margin: 0 auto;

    @media (max-width : 768px) {
      max-width: 100%;
      // width: 370px;

    }
  }
}

.title-productGrid {
  font-weight: 300;
  font-size: 1.2rem;
  // text-align: center;
  color: #222;
  margin: 10px 0;
  display: block;
}

.item-description {
  color: #666;
  font-size: 14px;
  margin-bottom: 10px;
}

.pricetag-productGrid {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: #B12704;
  line-height: 38px;
  text-align: center;




  :before {
    content: '- '
  }
}

.image-ProductGrid {
  max-height: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;

}

.fastbuy-btn {
  display: flex;
  justify-content: space-evenly;

  button {
    border: 1px solid #ddd;
    width: fit-content;
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 4px;
    margin: 0;
    opacity: 0.9;
    color: #fff;
    height: 100%;



    &:hover {
      color: #fff;
      background: #b12704 !important;
      opacity: 1;
    }
  }
}

.quantity-action {
  box-sizing: content-box;
  width: 11.5px;
  color: #888;
  cursor: pointer;

}


.optionItem {
  // width: 100%;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  display: grid;
  grid-template-columns: 2fr 4fr;
  width: 100%;
}

.addCartBtn {
  line-height: 38px;

  button {
    float: right;
    width: 160px;

  }
}

.cartSum {
  cursor: pointer;

  @media (min-width : 768px) {
    display: none;
  }

  .wrap-cartSum {
    display: flex;
    position: fixed;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2020;
    background: #ff8000;
    color: white;
    padding: 16px 0;
    border: 2px solid #ff8000;
    font-size: 15px;
    font-weight: 600;
  }
}

.totalToItem {
  position: fixed;
  z-index: 2020;
  left: 30px;
  border-radius: 50%;
  background: white;
  color: #0779e4;
  height: 36px;
  width: 36px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translateY(-9px);


}

.totalToPay {
  color: #b12704;
  padding-left: 15px;
}

.oderDetails {

  // z-index: 2020;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;

  .oderDetails-main {
    position: fixed;
    // z-index: 2020;
    width: 320px;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    // max-width: 277px;

    @media (max-width : 768px) {
      display: none;
    }
  }
}

.menubar-list li.active>a {
  color: red;
  font-weight: 600;
}

// .menubar-list li a {
//   color: red


// @media (min-width : 1024px) {
//   .wrap-main {
//     width: 100%;
//   }

//   .wrraper-productGrid {
//     width: calc(100% - 320px - 230px);
//     margin-left: 230px;
//   }

//   .wrapper-main {
//     // max-width: 1280px;
//     display: flex;
//     justify-content: center;
//     margin: 0 auto;

//   }

//   .wapper-layout {
//     display: flex;
//     margin: 0 auto;
//   }

//   .menu-main {
//     left: auto
//   }

//   .oderDetails {
//     right: auto
//   }
// }

@media (max-width : 768px) {


  .wrraper-productGrid {
    width: 100% !important;
  }
}

@media (max-width: 1023px) {
  .productType {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

@media (max-width : 1279px) and (min-width : 1024px) {
  .productType {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width : 1279px) {
  .menu-main-wrap {
    display: none;
  }

  .wrraper-productGrid {
    margin-left: 0;
    width: calc(100% - 320px);

  }

  .productType {
    width: 100%;
  }
}


// @media (max-width : 1350px) {
//   .productType {
//     grid-template-columns: repeat(1, 1fr);
//   }

// }





// @media (min-width: 960px) and (max-width : 1279px) {
//   .wrraper-productGrid {
//     width: calc(100% - 320px - 230px) !important;
//   }
// }


li {
  list-style: none;

}