.wrap-main {
  display: flex;
  flex-direction: column;

  @media (min-width : 576px) {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

}

.oderboard-open {
  display: none !important;

}

.pageHeadline {
  padding: 20px 0;
  text-align: center;
}

.wrraper-productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width : 768px) {
    grid-template-columns: repeat(2, 1fr)
  }

  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 2px 2px 9px 4px #f2f2f2;
  justify-content: space-between
}

.title-productGrid {
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  color: #222
}

.pricetag-productGrid {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  color: #B12704;
  line-height: 38px;
  text-align: center;




  :before {
    content: '- '
  }
}

.image-ProductGrid {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;

}

.fastbuy-btn {
  display: flex;
  justify-content: space-evenly;

  button {
    border: 1px solid #ddd;
    width: fit-content;
    font-size: 16px;
    padding: 3px 10px;
    border-radius: 4px;
    margin: 0;
    opacity: 0.9;
    color: #b12704;
    height: 100%;
    background: white !important;


    &:hover {
      color: #fff;
      background: #b12704 !important;
      opacity: 1;
    }
  }
}

.quantity-action {
  box-sizing: content-box;
  width: 11.5px;
  color: #888;
  cursor: pointer;

}


.optionItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addCartBtn {
  line-height: 38px;
}

.cartSum {
  cursor: pointer;

  .wrap-cartSum {
    display: flex;
    position: fixed;
    justify-content: center;
    margin: 0 auto;
    max-width: 98%;
    width: 96%;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2020;
    background: #ff8000;
    color: white;
    padding: 16px 0;
    border: 1px solid #ff8000;
    font-size: 15px;
    font-weight: 600;
  }
}

.totalToItem {
  position: fixed;
  z-index: 2020;
  left: 30px;
  border-radius: 50%;
  background: white;
  color: #0779e4;
  height: 36px;
  width: 36px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  transform: translateY(-9px);


}

.totalToPay {
  color: #b12704;
  padding-left: 15px;
}